.parentnode-container {
    width: 100%;
    cursor: pointer;
    display: flex;
    margin-top: 4px;
    justify-content: flex-start;
    align-items: center;
}

.folder-icon {
    margin-right: 3px;
}